.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    z-index: 999;
    opacity: 0;
    transition: all 0.2s ease;
}
.overlay.show {
    display: block;
    opacity: .1;
}