/* The container */
.radio__container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
}

/* Hide the browser's default radio button */
.radio__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.radio__container input:checked~.checkmark {
    background-color: #e30c18;
    border: 0px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio__container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio__container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}